 <html lang="en">
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a asp-controller="index" asp-action="index">Hem</a>
    <br />
   
    <h2>Jag är en sockerbagare, jag bor i staden.</h2>
    <h2>Jag bakar kakor mest hela dagen.</h2>
    <h2>Jag bakar stora, jag bakar små.</h2>
    <h2>Jag bakar några med socker på.</h2>
    <br /><br />

    <h3>Kom gärna in på besök!</h3>
    <h3>Mina öppetider är 0.00-24.00!</h3>
    <h3>Varje Dag som Natt</h3>
    <br />

    <h3>Ni kan ringa mig på:</h3>
    <h3>+(46)70 194 010 </h3>
    <br />
    <h3>Besök mitt bageri på:</h3>
    <h3>Tomten, 173 00 TomteBoda</h3>
    <br />


</body>
</html>